<div class="container-fluid" id="page7">
    <h2>Client Details:</h2>
    <ul>
        <li>$hero.getName()</li>
        <li>$hero.getGender()</li>
        <li>$hero.getCellphone()</li>
    </ul>
    <br>
    <br>
    <a href="/clients/new" class="btn btn-danger btn-lg">Add another client</a>
    <br>
    <br>
    <a href="/clients" class="btn btn-danger btn-lg">All clients</a>
</div>