<div class="container-fluid">

    <body>
        <h1>Hair-Salon Application</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="/stylists" class="btn btn-danger btn-lg">View Stylist List</a>
        <a href="/stylists/new" class="btn btn-danger btn-lg">Add a New Stylist</a>
    </body>
</div>